# --- General build ---
build/
build-*/
Debug/
Release/
x64/
x86/
*.o
*.obj
*.pdb
*.exe
*.dll
*.log

# --- Qt ---
*.pro.user
*.qmake.stash
moc/
rcc/
ui/
*.qrc.depends

# --- CMake ---
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# --- Visual Studio/QtCreator ---
.vs/
*.vcxproj.user
*.sln
*.user
