# Build and user-specific
**/build*/
**/cmake-build-*/
**/Debug*/
**/Release*/
**/.vs/
**/.vscode/
**/.qmake.stash
**/*.pro.user
**/*.user

# Compiled (MSVC)
**/*.obj
**/*.pdb
**/*.lib
**/*.exp
**/*.ilk
**/*.iobj
**/*.ipdb

# Archives
**/*.zip
**/*.7z
**/*.tar
**/*.tar.gz
